:root {
    --dark-red: #791111;
    --light-grey: #F5F4F5;
    --dark-grey: #242424;

    --red: #BA0514;
    --green: #359D2F;

    --text-size: 1rem;

    font-family: "Rubik", sans-serif;

    color: var(--dark-grey);
    background-color: var(--light-grey);
}

body {
    margin: 0;
    padding: 0;

    /* align the two sides */
    display: flex;
}

#left-side {
    width: 40%;
    height: 100vh;
    /* remove the scrollbar added by vh */
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    /* overlay background & title */
    position: relative;
}

#right-side {
    width: 60%;
}
/* BACKGROUND IMAGE */
#left-side img {
    width: 100%;
    height: 100%;

    position: absolute;
    
    object-fit: cover;
}

/* CREDIT */
#left-side p {
    margin: 0;

    position: absolute;
    bottom: 15px;

    font-size: var(--text-size);
    text-align: center;
    color: var(--dark-grey);
}

#left-side p a {
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-red);
}

/* TITLE */
#left-title {
    width: 100%;
    height: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* for flex in left-side */
    align-self: center;

    font-size: 2rem;
    color: var(--dark-grey);
    background-color: rgba(233, 237, 241, 0.6);
}

.material-symbols-outlined {
    font-size: 6rem;
    margin-right: 1rem;
    /* color: #791111; */
    color: var(--dark-red);

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* BASIC STYLING */
#right-side h1 {
    margin: 20px 0px 0px 50px;

    color: var(--dark-red);
}

form {
    box-sizing: border-box;
    
    padding: 0;
    margin: 30px 50px;
}

fieldset {
    box-sizing: border-box;

    padding: 10px 30px 30px 30px;
    margin-bottom: 50px;

    border: 1px solid var(--dark-red); 
    border-radius: 8px;
}

label {
    display: block;
    
    padding-bottom: 5px;
    font-size: var(--text-size);
    font-weight: 700;
}

legend {
    font-size: 1.3rem;
    font-weight: 700;

    color: var(--dark-red);
}

/* ##################### */
/* PERSONAL INFO SECTION */
/* ##################### */

/* select first name & last name */
#personal-info > div:first-of-type {
    display: flex;

    padding-bottom: 10px;
}

/* select first name only */
#personal-info > div:first-of-type > span:first-of-type {
    width: 50%;
}

/* select last name only */
#personal-info > div:first-of-type > span:last-of-type {
    width: 50%;
    
}

/* select first & last name text field */
input[type="text"] {
    width: 50%;
    height: 1.6rem;

    border-radius: 4px;
    border: 1px solid var(--dark-grey);

    font-size: var(--text-size);
}

/* select birthday and gender container */
#personal-info > div:last-of-type {
    display: flex;
}

/* select date of birth container */
#personal-info > div:last-of-type > span:first-of-type {
    width: 50%;
}

/* select gender container */
#personal-info > div:last-of-type > span:last-of-type {
    width: 50%;
}

input[type="date"],
select {
    width: 50%;
    height: 1.9rem;

    border-radius: 4px;
    border: 1px solid var(--dark-grey);

    font-size: var(--text-size);
    font-family: "Rubik", sans-serif;
}

/* ##################### */
/* ACCOUNT INFO SECTION */
/* ####################*/

/* select new email */
#account-info > div:first-of-type {
    width: 70%;

    padding-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 50%;
    height: 1.6rem;

    font-size: var(--text-size);
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
}

/* select password container */
#account-info > div:last-of-type {
    display: flex;
}

/* select first password */
#account-info > div:last-of-type > span:first-of-type {
    width: 50%;
}

/* select second password */
#account-info > div:last-of-type > span:last-of-type {
    width: 50%;
}

/* ######################## */
/* ADDITIONAL INFO SECTION */
/* #######################*/
#additional-info {
    display: flex;
}

#additional-info > div:first-of-type {
    width: 50%;
}

#additional-info > div:last-of-type {
    width: 50%;
}

#additional-info input[type="tel"] {
    width: 50%;
    height: 1.6rem;
    padding: 0;

    font-size: var(--text-size);
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
}

/* ################### */
/* SUBMITTING SECTION */
/* ##################*/
#create-acc {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-acc p {
    margin: 0;
    margin-left: 100px;
}

#create-acc p a {
    color: var(--dark-red);
    text-decoration: none;
    font-weight: 700;
}

#create-acc button {
    width: 160px;
    height: 50px;

    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 1rem;

    border-style: none;
    border-radius: 8px;

    background-color: var(--dark-red);
    color: var(--light-grey);
}

#create-acc button:hover {
    cursor: pointer;
    background-color: #BA0C0C;
}

#create-acc button:active {
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

/* ################ */
/* FORM VALIDATION */
/* ###############*/

/* hide placeholder on focus */
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="tel"]:focus::placeholder {
    opacity: 0;
}

/* validation for text and email input */
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
    outline: none;
    border: 2px solid var(--red);
}

input[type="text"]:focus:valid,
input[type="email"]:focus:valid {
    outline: none;
    border: 2px solid var(--green);
}

/* backup-email isn't required, don't show
   red when it's focused and empty */
#backup-email:focus {
    border: 2px solid var(--dark-grey);
}

#backup-email:invalid {
    border: 2px solid var(--red);
}

#backup-email:valid:not(:placeholder-shown) {
    border: 2px solid var(--green);
}
