:root {
    color: #fefffe;
    background-color: #252525;
}

body {
    margin: 0;
    padding: 0;

    /* align the two sides */
    display: flex;
}

#left-side {
    width: 40%;
    height: 100vh;
    /* remove the scrollbar added by vh */
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    /* overlay background & title */
    position: relative;
}

#right-side {
    width: 60%;
}
/* BACKGROUND IMAGE */
#left-side img {
    width: 100%;
    height: 100%;

    position: absolute;
    
    object-fit: cover;
}

/* CREDIT */
#left-side p {
    margin: 0;

    position: absolute;
    bottom: 15px;

    font-size: 1.2rem;
    text-align: center;
    color: #242424;
}

#left-side p a {
    font-weight: 700;
    text-decoration: none;
    color: #242424;
}

/* TITLE */
#left-title {
    width: 100%;
    height: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    /* for flex in left-side */
    align-self: center;

    font-size: 2rem;
    color: #242424;
    /* color: #e9edf1; */
    /* background-color: rgba(36, 36, 36, 0.5); */
    background-color: rgba(233, 237, 241, 0.6);
}

.material-symbols-outlined {
    font-size: 6rem;
    margin-right: 1rem;
    color: #375994;

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* BASIC STYLING */
#right-side h1 {
    margin: 20px 0px 0px 50px;
}

form {
    box-sizing: border-box;
    
    padding: 0;
    margin: 30px 50px;
}

fieldset {
    box-sizing: border-box;

    padding: 10px 30px 20px 30px;
    margin-bottom: 50px;
}

label {
    display: block;
    
    padding-bottom: 5px;
}

/* ##################### */
/* PERSONAL INFO SECTION */
/* ##################### */

/* select first name & last name */
#personal-info > div:first-of-type {
    display: flex;

    padding-bottom: 10px;
}

/* select first name only */
#personal-info > div:first-of-type > span:first-of-type {
    width: 50%;
}

/* select last name only */
#personal-info > div:first-of-type > span:last-of-type {
    width: 50%;
    
}

/* select first & last name text field */
input[type="text"] {
    width: 50%;
}

/* select birthday and gender container */
#personal-info > div:last-of-type {
    display: flex;
}

/* select date of birth container */
#personal-info > div:last-of-type > span:first-of-type {
    width: 50%;
}

/* select gender container */
#personal-info > div:last-of-type > span:last-of-type {
    width: 50%;
}

/* ##################### */
/* ACCOUNT INFO SECTION */
/* ####################*/

/* select new email */
#account-info > div:first-of-type {
    width: 70%;

    padding-bottom: 10px;
}

#account-info input[type="email"] {
    width: 50%;
}

/* select password container */
#account-info > div:last-of-type {
    display: flex;
}

/* select first password */
#account-info > div:last-of-type > span:first-of-type {
    width: 50%;
}

/* select second password */
#account-info > div:last-of-type > span:last-of-type {
    width: 50%;
}

/* select password field */
#account-info input[type="password"] {
    width: 50%;
}

/* ######################## */
/* ADDITIONAL INFO SECTION */
/* #######################*/
#additional-info {
    display: flex;
}

#additional-info > div:first-of-type {
    width: 50%;
}

#additional-info > div:last-of-type {
    width: 50%;
}

#additional-info input[type="email"],
#additional-info input[type="tel"] {
    width: 50%;
}

/* ################### */
/* SUBMITTING SECTION */
/* ##################*/
#create-acc {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-acc p {
    margin: 0;
    margin-left: 100px;
}

#create-acc button {
    width: 150px;
    height: 50px;
}
